body {
    font-family: 'Arial', sans-serif;
    background-color: #357ae8;
    margin: 0;
    padding: 0;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    font-size: xx-large;
    background-color: #357ae8;
    color: white;
}

li {
    padding: 2px;
}

h1 {
    color: white;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4285f4;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #357ae8;
}

table {
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
    border: none;
}

th,
td {
    border: none;
    padding: 10px;
    text-align: center;

}

th {
    background-color: #357ae8;
    border-radius: 5px;
    color: white;
}

thead {
    background-color: #f2f2f2;
}

#saldoTotal {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}

#total {
    font-weight: bold;
    color: #357ae8;
}
